{% extends '@SonataAdmin/CRUD/base_show.html.twig' %}


{% block show_groups %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('templates_assets/js/ckeditor_4.15.0_standard/contents.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('templates_assets/js/ckeditor_4.15.0_standard/widgetstyles.css') }}">
    {#<div class="row">#}
        {#<div class="col-md-6">#}
            {#<div class="box box-primary">#}
                {#<div class="box-header">#}
                    {#<h4 class="box-title">#}
                        {#{{ 'Media items'|trans({}, 'sonata_messages') }}#}
                    {#</h4>#}
                {#</div>#}
                {#<div class="box-body table-responsive no-padding">#}
                    {#<table class="table">#}
                        {#<tbody>#}
                        {#{% for element in object.pdf %}#}
                            {#<tr class="sonata-ba-view-container">#}
                                {#<th>{{ element.title }}</th>#}
                                {#<td>#}
                                    {#{{ element.title }}#}
                                {#</td>#}
                            {#</tr>#}
                        {#{% endfor %}#}
                        {#</tbody>#}
                    {#</table>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{% endblock %}
