{% extends '@SonataAdmin/CRUD/edit.html.twig' %}

{% block sonata_post_fieldsets %}
    {{ parent() }}
    <script src="{{ asset('templates_assets/js/ckeditor_4.15.0_standard/ckeditor/ckeditor.js') }}"></script>
    {% if object.id is not null %}
        <link rel="stylesheet" href="{{ asset('templates_assets/js/jquery-file-upload/css/doka.min.css') }}" />
        <!-- blueimp Gallery styles -->
        <link rel="stylesheet" href="{{ asset('templates_assets/js/jquery-file-upload/css/blueimp-gallery.min.css') }}" />
        <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
        <link rel="stylesheet" href="{{ asset('templates_assets/js/jquery-file-upload/css/jquery.fileupload.css') }}" />
        <link rel="stylesheet" href="{{ asset('templates_assets/js/jquery-file-upload/css/jquery.fileupload-ui.css') }}" />
        <link rel="stylesheet" href="{{ asset('templates_assets/js/jquery-file-upload/css/jquery.fileupload.css') }}">
        <link rel="stylesheet" href="{{ asset('templates_assets/js/jquery-file-upload/css/jquery.fileupload-ui.css') }}">
        <!-- CSS adjustments for browsers with JavaScript disabled -->
        <noscript
        ><link rel="stylesheet" href="{{ asset('templates_assets/js/jquery-file-upload/css/jquery.fileupload-noscript.css') }}"
            /></noscript>
        <noscript
        ><link rel="stylesheet" href="{{ asset('templates_assets/js/jquery-file-upload/css/jquery.fileupload-ui-noscript.css') }}"
            /></noscript>
    {% endif %}
{% endblock %}

    {% block formactions %}
        <div class="sonata-ba-form-actions well well-small form-actions">
            {% block sonata_form_actions %}
                    {% if objectId|default(admin.id(object)) is not null %}
                        <button type="submit" class="btn btn-success" name="btn_update_and_edit"><i class="fa fa-save" aria-hidden="true"></i> {{ 'btn_update_and_edit_again'|trans({}, 'SonataAdminBundle') }}</button>
                    {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
                        {% if object.publish == false   %}
                        <a href="{{ admin.generateObjectUrl('entityApproval', object) }}" class="btn btn-success" name="btn_update_and_edit"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Aprobar Entidad</a>
                        {% else %}
                            <a href="{{ admin.generateObjectUrl('entityApproval', object) }}" class="btn btn-danger" name="btn_update_and_edit"><i class="fa fa-lock" aria-hidden="true"></i> Desaprobar Entidad</a>
                        {% endif %}
                        <a href="{{ admin.generateObjectUrl('entityRejected', object) }}" class="btn btn-warning"
                           name="btn_update_and_edit"><i class="fa fa-remove" aria-hidden="true"></i> Solicitar Más Información</a>
                    {% endif %}
                        {% if admin.hasRoute('list') and admin.hasAccess('list') %}
                            <button type="submit" class="btn btn-success" name="btn_update_and_list"><i class="fa fa-save"></i> <i class="fa fa-list" aria-hidden="true"></i> {{ 'btn_update_and_return_to_list'|trans({}, 'SonataAdminBundle') }}</button>
                        {% endif %}

                        {% if admin.hasRoute('delete') and admin.hasAccess('delete', object) %}
                            {{ 'delete_or'|trans({}, 'SonataAdminBundle') }}
                            <a class="btn btn-danger" href="{{ admin.generateObjectUrl('delete', object) }}"><i class="fa fa-minus-circle" aria-hidden="true"></i> {{ 'link_delete'|trans({}, 'SonataAdminBundle') }}</a>
                        {% endif %}

                        {% if admin.isAclEnabled() and admin.hasRoute('acl') and admin.hasAccess('acl', object) %}
                            <a class="btn btn-info" href="{{ admin.generateObjectUrl('acl', object) }}"><i class="fa fa-users" aria-hidden="true"></i> {{ 'link_edit_acl'|trans({}, 'SonataAdminBundle') }}</a>
                        {% endif %}
                    {% else %}
                        {% if admin.hasroute('edit') and admin.hasAccess('edit') %}
                            <button class="btn btn-success" type="submit" name="btn_create_and_edit"><i class="fa fa-save" aria-hidden="true"></i> {{ 'btn_create_and_edit_again'|trans({}, 'SonataAdminBundle') }}</button>
                        {% endif %}
                        {% if admin.hasroute('list') and admin.hasAccess('list') %}
                            <button type="submit" class="btn btn-success" name="btn_create_and_list"><i class="fa fa-save"></i> <i class="fa fa-list" aria-hidden="true"></i> {{ 'btn_create_and_return_to_list'|trans({}, 'SonataAdminBundle') }}</button>
                        {% endif %}
                        <button class="btn btn-success" type="submit" name="btn_create_and_create"><i class="fa fa-plus-circle" aria-hidden="true"></i> {{ 'btn_create_and_create_a_new_one'|trans({}, 'SonataAdminBundle') }}</button>
                    {% endif %}
            {% endblock %}
        </div>

        {% if object.id is not null %}
            {% include 'security/_js_images.html.twig' %}
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header">
                            <h4 class="box-title">
                                Archivos
                            </h4>
                        </div>
                        <div class="box-body">
                            {#<div class="sonata-ba-collapsed-fields">#}
                            <div class="row">
                                <div class="col-md-12">
                                    <form action="#"></form>
                                    {% include 'security/_images.html.twig' with {
                                    user: object,
                                    redirect_to: url('controller_upload_entity_files')
                                    } %}
                                </div>
                            </div>
                            {#</div>#}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endblock %}




