{% extends '@SonataAdmin/CRUD/edit.html.twig' %}

{% block title %}
        Rechazar {{ object.name | upper }}
{% endblock %}

{% block navbar_title %}
        Rechazar {{ object.name | upper }}
{% endblock %}
{% block form %}
    <form
            class="form-horizontal"
            role="form"
            action="{{ admin.generateObjectUrl(userRejected, object) }}"
            method="POST"
    >
        {% block sonata_pre_fieldsets %}
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header">
                            <h4 class="box-title">
                                Se esta procediendo a rechazar la entidad {{ object.name | upper }}
                            </h4>
                        </div>
                        <div class="box-body">
                            <div class="sonata-ba-collapsed-fields">
                                        <div class="row" style="margin-left: 10%">
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <label class="control-label" for="rejected">
                                                        Explique los motivos del rechazo:
                                                    </label>
                                                    <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                                        <textarea required="required" id="rejected" name="rejected" class=" form-control">
                                                        </textarea>
                                                        <span class="help-block sonata-ba-field-widget-help"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block formactions %}
            <div class="sonata-ba-form-actions well well-small form-actions">
                {% block sonata_form_actions %}
                          <button type="submit" class="btn btn-success" name="btn_update_and_list"><i class="fa fa-save"></i></i> Aceptar</button>
                           {% if admin.hasRoute(edit) and admin.hasAccess(edit) %}
                                <a href="{{ admin.generateUrl(edit,{'id' : object.id}) }}" class="btn btn-success" name="btn_update_and_list"> <i class="fa fa-list" aria-hidden="true"></i> Volver</a>
                            {% endif %}
                {% endblock %}
            </div>
        {% endblock formactions %}
    </form>
{% endblock %}
