{% apply inline_css%}
<html>
<head>
    <title></title>
    <meta content="">
    <style>
        @font-face {
            font-family: "futuraBQLightOblique";
            src: url("../../../public/templates_assets/fonts/FuturaBQ-LightOblique.ttf") format("truetype");
        }
        @font-face {
            font-family: "futuraBQRegular";
            src: url("../../../public/templates_assets/fonts/FuturaBQ.ttf") format("truetype");
        }
        @font-face {
            font-family: "futuraBQBold";
            src: url("../../../public/templates_assets/fonts/FuturaBQ-Bold.ttf") format("truetype");
        }
        .body-background {
            background: #1b1b63;
            color: #fff;
            font-family: "futuraBQRegular", sans-serif;
            font-size: 18px;
        }
    </style>
</head>
<body class="body-background" bgcolor="#191919" style="background-color: #191919; font-family: futuraBQRegular,Helvetica,Arial,sans-serif;">
<table cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="#191919" style="background-color: #191919; max-width: 800px;" align="center">
    <tbody>
    <tr>
        <td style="color:#000000;padding-top: 20px;padding-right:0px;padding-bottom: 20px;padding-left:0px;" align="center">
            <img src="{{ logo }}" alt="CAP" width="30%" style="max-width:700px;height:auto;">
        </td>
    </tr>
    <tr>
        <td style="color:#000000;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px" align="center">
            <img src="{{ restablecerPassword }}" alt="Bienvenido al CAP" width="100%" style="max-width:700px;height:auto;">
        </td>
    </tr>
    <tr>
        <td style="color:#fff;padding-top:37px;padding-right:5%;padding-bottom:0px;padding-left:5%;font-size:15px;" align="center">
            <p>Pulsa en este enlace para realizar el cambio y definir la nueva contraseña.</p>
        </td>
    </tr>
    <tr>
        <td style="color:#fff;padding-top:20px;padding-right:5%;padding-bottom:0px;padding-left:5%;font-size:15px;" align="center">
            <a class="button-confirm" href="{{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}/admin/new-password/{{token}}" target="_blank">
                <img src="{{ btnReset }}" alt="recuperar contraseña" width="50%" style="max-width:236px;height:auto;">
            </a>
        </td>
    </tr>
    <tr>
        <td style="color:#fff;padding-top:30px;padding-right:10%;padding-bottom:0px;padding-left:10%;font-size:15px;" align="center">
            <p>Si el botón no funciona, copia y pega este enlace en tu navegador</p>
            <p style="background:transparent;color: #f4dc00;border: 1px solid #fff;border-radius:0;padding:10px;font-size:15px;width: 85%;text-align: center;">
                {{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}/admin/new-password/{{token}} </p>
        </td>
    </tr>
    <tr>
        <td style="color:#fff;padding-top:37px;padding-right:5%;padding-bottom:0px;padding-left:5%;font-size:15px;" align="center">
            <p>Si no has solicitado cambiar la contraseña o si tienes cualquier pregunta no dudes en ponerte en contacto con nosotros respondiendo a este email. Estaremos encandos de ayudarte.</p>
        </td>
    </tr>
    <tr>
        <td style="color:#fff;padding-top:45px;padding-right:5%;padding-bottom: 15px;padding-left:5%;font-size:15px;" align="center">
            <p style="margin-bottom: 5px">Un saludo,</p>
            <p style="margin-top: 0">Administración de Loterías</p>
        </td>
    </tr>
    <tr>
        <td style="color:#000000;padding-top: 20px;padding-right:0px;padding-bottom: 20px;padding-left:0px;" align="center">
            <img src="{{ logo }}" alt="HorizonE Music" width="40%" style="max-width:700px;height:auto;">
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
{% endapply %}
