<div class="redesfooter">
    <div class="container p-0">
        <div class="d-flex flex-column flex-sm-row">
            <div class="redesfooter__titulo">
                {{ app.request.locale == "es"?'SÍGANOS':'FOLLOW US' }}
            </div>
            <div class="redesfooter__lista py-3">
                <div class="d-block">
                    <div class="lista">
                        <div class="redesfooter__item">
                            <a href="https://www.facebook.com/gobhabana" target="_blank">
                                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27.49 27.21"><defs><style>.cls-1{fill:#fff;}</style></defs><path class="cls-1" d="M13.89,0A13.86,13.86,0,0,0,0,13.69,14.05,14.05,0,0,0,11.42,27.21V14.61H8.22v-4h3.2v-2c0-3,2-6,5.56-6h3.44v4H17.7c-.91,0-1.28,1.93-1.28,2.87v1.13h3.86l-.35,4H16.42v12.5A14,14,0,0,0,27.49,13.69,13.61,13.61,0,0,0,13.89,0Z"/></svg>
                                <span>Facebook</span></a>
                        </div>
                        <div class="redesfooter__item">
                            <a href="https://twitter.com/gobhabana" target="_blank">
                            <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.81 24.23"><defs><style>.cls-1{fill:#fff;}</style></defs><path class="cls-1" d="M0,21.48a17.28,17.28,0,0,0,9.38,2.75c11.35,0,17.77-9.59,17.38-18.2a12.39,12.39,0,0,0,3-3.16,12.49,12.49,0,0,1-3.51,1A6.12,6.12,0,0,0,29,.45,12.12,12.12,0,0,1,25.1,1.93,6.12,6.12,0,0,0,14.68,7.51,17.33,17.33,0,0,1,2.08,1.12,6.11,6.11,0,0,0,4,9.29,6.17,6.17,0,0,1,1.2,8.52a6.11,6.11,0,0,0,4.9,6.07,6.08,6.08,0,0,1-2.76.11A6.13,6.13,0,0,0,9.05,19,12.31,12.31,0,0,1,0,21.48Z"/></svg>
                                <span>Twitter</span></a>
                        </div>
                        {#<div class="redesfooter__item">#}
                            {#<a href="#" target="_blank">#}
                            {#<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24.91 24.91"><defs><style>.cls-1{fill:#fff;}</style></defs><path class="cls-1" d="M12.45,2.24c3.33,0,3.72,0,5,.08a6.84,6.84,0,0,1,2.31.42,3.83,3.83,0,0,1,1.43.94,3.69,3.69,0,0,1,.93,1.43,6.77,6.77,0,0,1,.43,2.31c.06,1.31.07,1.71.07,5s0,3.72-.07,5a6.77,6.77,0,0,1-.43,2.31,4.12,4.12,0,0,1-2.36,2.36,6.77,6.77,0,0,1-2.31.43c-1.32.06-1.71.07-5,.07s-3.72,0-5-.07a6.77,6.77,0,0,1-2.31-.43,3.69,3.69,0,0,1-1.43-.93,3.69,3.69,0,0,1-.93-1.43,6.77,6.77,0,0,1-.43-2.31c-.06-1.32-.08-1.71-.08-5s0-3.72.08-5a6.77,6.77,0,0,1,.43-2.31,3.69,3.69,0,0,1,.93-1.43,3.83,3.83,0,0,1,1.43-.94,6.84,6.84,0,0,1,2.31-.42c1.31-.06,1.71-.08,5-.08m0-2.24C9.07,0,8.65,0,7.32.07a9.27,9.27,0,0,0-3,.58A6.15,6.15,0,0,0,2.09,2.09,6.15,6.15,0,0,0,.65,4.3a9.3,9.3,0,0,0-.57,3C0,8.65,0,9.07,0,12.45s0,3.81.08,5.14a9.36,9.36,0,0,0,.57,3,6.15,6.15,0,0,0,1.44,2.21A6,6,0,0,0,4.3,24.25a9,9,0,0,0,3,.58c1.33.06,1.75.08,5.13.08s3.81,0,5.14-.08a9.07,9.07,0,0,0,3-.58,6.28,6.28,0,0,0,3.64-3.64,9.07,9.07,0,0,0,.58-3c.06-1.33.08-1.75.08-5.14s0-3.8-.08-5.13a9,9,0,0,0-.58-3,6,6,0,0,0-1.43-2.21A6.15,6.15,0,0,0,20.61.65a9.33,9.33,0,0,0-3-.58C16.26,0,15.84,0,12.45,0"/><path class="cls-1" d="M12.45,6.06a6.4,6.4,0,1,0,6.4,6.39,6.39,6.39,0,0,0-6.4-6.39m0,10.55a4.16,4.16,0,1,1,4.16-4.16,4.15,4.15,0,0,1-4.16,4.16"/><path class="cls-1" d="M20.6,5.81a1.5,1.5,0,1,1-1.5-1.5,1.5,1.5,0,0,1,1.5,1.5"/></svg>#}
                                {#<span>Instagram</span></a>#}
                        {#</div>#}
                        <div class="redesfooter__item">
                            <a href="https://www.youtube.com/channel/UCnCbHy21qmYj3lzN8vxp5Rg" target="_blank">
                            <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.64 20.75"><defs><style>.cls-1{fill:#fff;fill-rule:evenodd;}</style></defs><path class="cls-1" d="M29.64,4.43A4.43,4.43,0,0,0,25.21,0H4.43A4.43,4.43,0,0,0,0,4.43V16.32a4.43,4.43,0,0,0,4.43,4.43H25.21a4.43,4.43,0,0,0,4.43-4.43ZM11.22,16.71V3.87L21,10.29Zm.64-1.32"/></svg>
                                <span>Youtube</span></a>
                        </div>
                        <div class="redesfooter__item">
                            <a href="https://t.me/gobhabana" target="_blank">
                            <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.58 24.26"><defs><style>.cls-1{fill:#fff;}.cls-2{fill:#cbdce5;}</style></defs><path class="cls-1" d="M27.22.2l-26,10c-1.61.63-1.58,1.57.06,2.1l6,1.93c.18.06.37.12.56.2l13.83-8.7c3.18-2,3.5-1.57.72,1L11.72,16.35c.41.25.79.49,1.1.72l3.07,2.22h0l6.17,4.46a1.89,1.89,0,0,0,3.19-1.24L29.51,2.15C29.86.46,28.83-.42,27.22.2Z"/><path class="cls-2" d="M12.49,22.44l3.4-3.15-3.07-2.22c-.31-.23-.69-.47-1.1-.72l-.26,6.54A1.55,1.55,0,0,0,12.49,22.44Z"/></svg>
                                <span>Telegram</span></a>
                        </div>
                        <div class="redesfooter__item">
                            <a href="https://www.picta.cu/canal/portal-ciudadano-habana" target="_blank">
                            <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.41 24.61"><defs><style>.cls-1{fill:#fff;}</style></defs><path class="cls-1" d="M.37,20v.36a8.21,8.21,0,0,0,.08.84h0c.2,1.73.5,3.09.94,3.35s1.85-.2,3.51-.92h0c.12,0,.61-.14.62-.3A9,9,0,0,1,.37,20ZM2,22.41H2Z"/><path class="cls-1" d="M.09,8.32v0Z"/><path class="cls-1" d="M3.53,2.52a14.39,14.39,0,0,1,2.2-1.15L4.85,1A9.81,9.81,0,0,0,1.72,0,.72.72,0,0,0,1.4.08C.87.37.56,2.23.36,4.38h0v0c0,.15,0,.31,0,.46h0c0,.14,0,.28,0,.41A14.13,14.13,0,0,1,3.53,2.52Z"/><path class="cls-1" d="M12.6,5,8.78,2.81l-.2,0a13.36,13.36,0,0,0-1.76.35,10.59,10.59,0,0,0-3.9,1.87A10.79,10.79,0,0,0,.09,8.34h0C0,10.19,0,11.79,0,12.31s0,3,.17,5.46h0a8.59,8.59,0,0,0,2.2,2.66A7.06,7.06,0,0,0,6.23,22a8.09,8.09,0,0,0,1.84,0,8.13,8.13,0,0,0,4.66-2.46.27.27,0,0,0,.07-.08,5.77,5.77,0,0,0,.47-.74A5.93,5.93,0,0,0,14,14.61a6,6,0,0,0-1.67-3.13A6.17,6.17,0,0,0,9.47,9.8a4.12,4.12,0,0,0-1.94-.16,4.23,4.23,0,0,0-1.8.76,4.56,4.56,0,0,0-1.84,2.91,3.7,3.7,0,0,0,0,1.84,3.8,3.8,0,0,0,.84,1.63,3.45,3.45,0,0,0,1.21.78,3.31,3.31,0,0,0,1.43.19,2.28,2.28,0,0,0,1.13-.36,2.26,2.26,0,0,0,.82-.86,2.45,2.45,0,0,0,.28-1,2.58,2.58,0,0,0-.15-1,2.54,2.54,0,0,0-.54-.87,2.61,2.61,0,0,0-.84-.59,1.64,1.64,0,0,0-1-.06,1.71,1.71,0,0,0-.84.51,1.55,1.55,0,0,0-.32.77A1.57,1.57,0,0,0,6,15.1a1.14,1.14,0,0,0,.43.44,1.05,1.05,0,0,0,.6.15.91.91,0,0,0,.51-.09A1,1,0,0,0,8,15.25a.84.84,0,0,0,.13-.46A.8.8,0,0,0,8,14.33a.78.78,0,0,0-.34-.26.7.7,0,0,0-.43,0,.52.52,0,0,0-.23.21.47.47,0,0,0,0,.31.11.11,0,0,0,0,.08.23.23,0,0,0,.07.07l.09,0,.09,0a.12.12,0,0,1,0-.08.28.28,0,0,1,0-.09.36.36,0,0,1,0-.09l.08-.06a.22.22,0,0,1,.16,0,.29.29,0,0,1,.14.08c.11.11,0,.38-.12.47a.46.46,0,0,1-.21.13.43.43,0,0,1-.25,0,.44.44,0,0,1-.22-.1.51.51,0,0,1-.15-.21.72.72,0,0,1,0-.54.75.75,0,0,1,.34-.42,1,1,0,0,1,.42-.14,1.09,1.09,0,0,1,.44.06,1,1,0,0,1,.38.24,1.07,1.07,0,0,1,.24.38,1.37,1.37,0,0,1,0,.85,1.45,1.45,0,0,1-.49.7,1.86,1.86,0,0,1-.79.27,2,2,0,0,1-.84-.09,1.88,1.88,0,0,1-.88-.64,1.86,1.86,0,0,1-.38-1,2.68,2.68,0,0,1,.15-1.19,2.62,2.62,0,0,1,.68-1,2.85,2.85,0,0,1,2.05-.8,4,4,0,0,1,2.22.67,4.12,4.12,0,0,1,1.66,2.36,4.27,4.27,0,0,1-.18,2.71,4.23,4.23,0,0,1-1.76,2,5.25,5.25,0,0,1-6.37-.52,6.35,6.35,0,0,1-2.14-4.09A7.39,7.39,0,0,1,2.17,10,8.45,8.45,0,0,1,5,7,7.86,7.86,0,0,1,8.6,5.87h.56a8.94,8.94,0,0,1,3.77.84,9.91,9.91,0,0,1,3.63,2.85,10.44,10.44,0,0,1,1.85,3.82,11.69,11.69,0,0,1,.37,2.27l0,0c2-1.38,3.61-2.72,3.61-3.36C22.41,10.84,13.87,5.71,12.6,5Z"/><path class="cls-1" d="M12.84,8.58A7,7,0,0,0,7.93,7.45,6,6,0,0,0,4.38,9.3a6.44,6.44,0,0,0-1.74,3.75,5.34,5.34,0,0,0,.91,3.8,5,5,0,0,0,1.83,1.51,4.51,4.51,0,0,0,2.8.37,3.86,3.86,0,0,0,2.28-1.55,3.42,3.42,0,0,0,.56-2,3.14,3.14,0,0,0-.84-2,2.71,2.71,0,0,0-.9-.68,2.93,2.93,0,0,0-1.09-.28,3.32,3.32,0,0,1,1.12.65,3.18,3.18,0,0,1,.76,1,3.09,3.09,0,0,1,.28,1.27,3.14,3.14,0,0,1-.25,1.28,3.46,3.46,0,0,1-1.22,1.38,3.26,3.26,0,0,1-2.28.4A4.21,4.21,0,0,1,4.35,17a4,4,0,0,1-1.17-2.69,5.59,5.59,0,0,1,.38-2.39A5.49,5.49,0,0,1,5.37,9.54a4.84,4.84,0,0,1,2.84-1,7,7,0,0,1,3.15.69,7.19,7.19,0,0,1,2.53,2,6.74,6.74,0,0,1,1.51,4,7,7,0,0,1-.34,2.73l1.83-1.22a8.69,8.69,0,0,0-1.05-4.82A9,9,0,0,0,12.84,8.58Z"/></svg>
                                <span>Picta</span></a>
                        </div>
                        <div class="redesfooter__item">
                            <a href="https://gobhabana.cubava.cu/" target="_blank">
                            <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.56 25.21"><defs><style>.cls-1{fill:#fff;}</style></defs><path class="cls-1" d="M28.84,0H20.26c-3.09,0-5.19,3.47-5.19,6.17v8.37c1-1.29,2.12-1.12,4.72-1.12h8.34c2.61,0,5.43-3,5.43-5.72v-2C33.56,3,31.44,0,28.84,0Zm1.77,7.12s-.2,3.06-3.11,3.06H18.29V6.62a2.88,2.88,0,0,1,3.17-3.1h6.22a3.05,3.05,0,0,1,2.93,3.06Z"/><path class="cls-1" d="M9.6,2.81H4.75A5,5,0,0,0,0,7.51V8.89a4.73,4.73,0,0,0,5,4.47h7.2s.93-.12,2.18,1.61V7A4.46,4.46,0,0,0,9.6,2.81ZM12,11.2a2.12,2.12,0,0,0-1.44-.47H5.74c-2.28,0-3.32-.65-3.32-2V7.65A2.18,2.18,0,0,1,4.77,5.41h4A3,3,0,0,1,12,8.3Z"/><path class="cls-1" d="M15.07,16.94v3.71c.54-.8.95-.75.95-.75h3.13a2.11,2.11,0,0,0,2.17-2.06V17.2A2.24,2.24,0,0,0,19.26,15H17.15A2,2,0,0,0,15.07,16.94Zm1.1.61a1.29,1.29,0,0,1,1.35-1.28h1.72a1,1,0,0,1,1,1v.49c0,.59-.45.88-1.42.88h-2a.84.84,0,0,0-.61.21Z"/><path class="cls-1" d="M11.06,14.69H7.94a3.74,3.74,0,0,0-3.56,3.48v.63A3.62,3.62,0,0,0,8,22.38c4.32,0,4.68.28,6.36,2.83V18.27C14.39,16.78,13.76,14.69,11.06,14.69Zm1.58,6.2a1.34,1.34,0,0,0-.94-.46H8.37c-1.58,0-2.11-.76-2.11-1.3v-.95A1.4,1.4,0,0,1,7.7,16.8h2.79c1.53,0,2.15.62,2.15,1.28Z"/></svg>
                                <span>Reflejos</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="prefooter" class="prefooter">
    <div class="container">

        <div class="row" id="footer_data">


        </div>



    </div>
</section>
<footer class="footer">
    <div class="container">
        <div class="row footer__rowLogos">
            <img class="text-center" src="{{ asset('templates_assets/frontend/img/footer/habana.jpg') }}" height="65px">
            <img class="text-center" src="{{ asset('templates_assets/frontend/img/gobierno.svg') }}" height="65px" width="193px">
            <img class="text-center" src="{{ asset('templates_assets/frontend/img/footer/cuba.jpg') }}" height="65px">
        </div>
    </div>
    <div class="container-fluid">
        <div class="row footer__bandaazul footer__bandaazul--row pt-2 pb-2">
            <div class="col-12 col-md-6 col-lg-3 text-center">
                <div class=" small"> {{ app.request.locale == "es"?'Contactos del Gobierno:':'Government Contacts:' }}</div>
                <a href="tel:+53 78682320" class="text-center">+53 78682320</a><br>
                <a href="mailto:gobierno@lahabana.gob.cu" target="_blank">gobierno@lahabana.gob.cu</a>
            </div>
            <div class="col-12 col-md-6 col-lg-3 text-center ">
                <div class="small">
                    {{ app.request.locale == "es"?'Desarrollado por:':'Developed by:' }}
                </div>
                <a href="http://www.infocap.cu" target="_blank"><img src="{{ asset('templates_assets/frontend/img/footer/logo-INFOCAP.png') }}" alt="InfoCap" title="InfoCap" height="40px" width="100px" class="mt-3"></a>
            </div>
            <div class="col-12 col-md-6 col-lg-3 text-center">
                <div class="text-center small">
                    {{ app.request.locale == "es"?'Soporte del portal:':'Portal support:' }}
                </div>
                <a href="mailto:soporte.portal@infocap.cu" class="text-center">soporte.portal@infocap.cu</a><br>
                <a href="#" class="small" data-toggle="modal" data-target="#equipoModal">
                    {{ app.request.locale == "es"?'Equipo del portal':'Portal team' }}
                </a><br>

                <a href="#" class="small" data-toggle="modal" data-target="#terminosModal">
                    {{ app.request.locale == "es"?'Términos y Condiciones':'Terms and Conditions' }}
                </a><br>
                <a href="#" class="small" data-toggle="modal" data-target="#politicaModal">
                    {{ app.request.locale == "es"?'Política de Privacidad':'Privacy Policy' }}
                </a>

            </div>

        </div>

        <div class="row p-3 fondoazul copy">
            <div class="col text-center small">
                Copyright &copy; {{ "now" | date("Y") }}
            </div>
        </div>
    </div>
</footer>

<!-- Modal Equipo Portal -->
<div class="modal fade" id="equipoModal" tabindex="-1" role="dialog" aria-labelledby="equipoModalTitulo" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Equipo del Portal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Profesionales cubanos, entre los que se encuentran pedagogos, periodistas, comunicadores en sentido general, que unidos a diseñadores y desarrolladores web, pretendemos con este Portal del Gobierno de La Habana crear un espacio digital para la información y el intercambio sobre temas relacionados con la gestión de gobierno, el seguimiento a quejas y sugerencias de los ciudadanos y el acceso a trámites y servicios inherentes a la vida citadina.
                </p>
                <p>
                    Este sitio cubano, habanero, en correspondencia plena con las posibilidades de la web 2.0 y con proyección y participación ciudadana, ofrece a sus usuarios servicios multimediales e interactivos que permiten disfrutar y debatir además de un entorno web recreado con la rica cultura que emana de la capital de Cuba. La principal aspiración radica en alcanzar el mayor rigor en la presentación de todos los contenidos, mediante el esfuerzo y entrega de su equipo de trabajo y la retroalimentación con los ciudadanos de La Habana y de Cuba y de los lectores de cualquier latitud.
                </p>
                <p>
                    Esta publicación digital se edita en español y tiene una versión en inglés, con perspectivas de incluir otros idiomas.
                </p>
                <p>
                    Invitamos a todos los ciudadanos, a participar en este proyecto, cuya línea directriz es propiciar cada vez más este espacio colaborativo.
                </p>
                <strong class="font-weight-bold">
                    Coordinación general
                </strong> <br>
                Dr. C. Niurka Ramos Herrera<br>
                <a href="mailto:niurka.ramos@infocap.cu">
                    niurka.ramos@infocap.cu
                </a>
                <br><br>

                <strong class="font-weight-bold">
                    Miembros:
                </strong><br>
                Lic. Victor Francisco Pérez-Galdós Ortiz<br>
                <a href="mailto:victorperezgaldos@infocap.cu">
                    victorperezgaldos@infocap.cu
                </a>
                <br><br>

                Lic. María Salome Campanioni <br>
                <a href="mailto:campanioni@infocap.cu">
                    campanioni@infocap.cu
                </a>


                <br><br>

                Téc. José Pérez-Galdós<br>
                <a href="mailto:joseperezgaldos@infocap.cu">
                    joseperezgaldos@infocap.cu
                </a>
                <br><br>
                Lic. Yanet Laguna<br>
                <a href="mailto:yanet@infocap.cu">
                    yanet@infocap.cu
                </a>
                <br><br>
                Lic. Yanicel Laguna<br>
                <a href="mailto:yanicel@infocap.cu">
                    yanicel@infocap.cu
                </a>
                <br><br>
                Lic. Yuliet Gutierrez<br>
                <a href="mailto:yulietgutierrez@infocap.cu">
                    yulietgutierrez@infocap.cu
                </a>
                <br><br>
                MSc. Olaida Cañizares<br>
                <a href="mailto:olaida@infocap.cu">
                    olaida@infocap.cu
                </a>
                <br><br>
                Lic. Mariela Pérez Hernández<br>
                <a href="mailto:mariela@infocap.cu">
                    mariela@infocap.cu
                </a>
                <br><br>
                Lic. Merlyn Pérez-Galdós<br>
                <a href="mailto:merlyn@infocap.cu">
                    merlyn@infocap.cu
                </a>
                <br><br>

                <strong class="font-weight-bold">
                    Traducción:
                </strong>
                <br>
                Dr. C. Miriam López Serrano<br>
                <a href="mailto:miriam.lopez@infocap.cu">
                    miriam.lopez@infocap.cu
                </a>
                <br><br>
                Lic. Teresita Rojas<br>
                <a href="mailto:teresita.rojas@infocap.cu">
                    teresita.rojas@infocap.cu
                </a>
                <br><br>
                Lic. Armando Hernández<br>
                <a href="mailto:armando.hernandez@infocap.cu">
                    armando.hernandez@infocap.cu
                </a>
                <br><br>
                <strong class="font-weight-bold">
                    Programación y diseño:
                </strong>
                <br>
                Ing. Welmis Sánchez Rómulo<br>
                <a href="mailto:welmis@infocap.cu">
                    welmis@infocap.cu
                </a>
                <br><br>
                Ing. Lilia Suárez Alonso<br>
                <a href="mailto:lilia@infocap.cu">
                    lilia@infocap.cu
                </a>
                <br><br>
                Ing. Frank Lemus Paz<br>
                <a href="mailto:frank@infocap.cu">
                    frank@infocap.cu
                </a>
                <br><br>
                D.G. Rudy Nelson Díaz<br>
                <a href="mailto:rudy@infocap.cu">
                    rudy@infocap.cu
                </a>
                <br><br>
                D.I. Jorge Luis Lendy Guillot <br>
                <a href="mailto:jlendy@infocap.cu">
                    jlendy@infocap.cu
                </a>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal terminos -->
<div class="modal fade" id="terminosModal" tabindex="-1" role="dialog" aria-labelledby="terminosModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="terminosModalLabel">Términos y Condiciones</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="h4">
                    Generales
                </div>
                <p>
                    Estos términos y condiciones reglamentan el acceso y uso del Portal del Gobierno de La Habana y de todos sus subdominios o dominios secundarios incluyendo sus contenidos y servicios, puestos a disposición a través del Portal de Internet www.lahabana.gob.cu
                </p>
                <p>
                    El Portal del Gobierno de La Habana puede actualizar en cualquier momento las condiciones expuestas en este documento, así como avisos legales, directrices y/o reglamentos de uso y que, según los casos, sustituirán, completarán y/o modificarán los Términos y Condiciones aquí recogidos. Se le recomienda que consulte periódicamente los términos y condiciones. Al acceder al portal del Gobierno de La Habana estará aceptando los términos y condiciones vigentes.
                </p>
                <p>
                <div class="h5">
                    Uso
                </div>
                Usted se compromete a utilizar el Portal del Gobierno de La Habana únicamente con fines legítimos y de modo que no infrinja, restrinja o inhiba la utilización y disfrute de servicios de dicho sitio así como a no utilizar este Portal de Gobierno para la realización de actividades contrarias a las leyes, la moral, las buenas costumbres o al orden público establecido.
                </p>
                <p>
                    Se compromete a no acceder, o intentar acceder, a ninguno de los servicios utilizando medios automatizados, incluidos secuencias de comandos o rastreadores web. Asimismo, se compromete a no involucrarse en ninguna actividad que interfiera o que interrumpa los servicios o los servidores y redes conectados a aquellos.
                </p>
                <p>
                <div class="h5">
                    Disponibilidad
                </div>
                El “Equipo del Portal” realizará todos los esfuerzos que sean razonables para intentar garantizar la disponibilidad y accesibilidad al Portal del Gobierno de La Habana, así como a sus servicios, veinticuatro horas al día durante todos los días del año. No obstante, en ocasiones, y, por ejemplo, debido a causas como el suministro de nuevas conexiones, los cambios de direccionamiento y/o la actualización de operaciones de mantenimiento necesarias que, en general, impliquen la suspensión del acceso o utilización del Portal, podrán producirse interrupciones por el tiempo que resulte necesario acometer dichas tareas.
                </p>
                <div class="h5">
                    Publicaciones relevantes o de impacto
                </div>
                Se muestran artículos destacados a criterio del “Equipo del Portal”.
                <p>
                    Se destaca la actualidad de La Habana dentro y fuera de Cuba editada por el “equipo del Portal”. Se utilizan imágenes, fotografías y opinión gráfica que ilustran sucesos históricos o de actualidad habanera.
                </p>
                <p>
                <div class="h5">
                    Listas de distribución
                </div>
                Envío a los usuarios expresamente suscritos por correo electrónico a todos o algunos de los siguientes mensajes: breves notificaciones sobre nuestros servicios o mensajes importantes.
                </p>
                <p>
                <div class="h5">
                    Modificación de los contenidos y servicios
                </div>
                El “Equipo del Portal” se reserva la facultad de modificar, en cualquier momento y sin aviso previo, la presentación y configuración de sus contenidos y servicios. Usted reconoce y acepta expresamente que en cualquier momento se pueda interrumpir, desactivar y/o cancelar cualquiera de los contenidos y/o servicios.
                </p>
                <p>
                <div class="h5">
                    Derechos de Autor de la información
                </div>
                Los derechos de autor sobre la información de terceros que se publica en el Portal del Gobierno de La Habana pertenecen a sus respectivos autores y su publicación en dicho sitio se realiza sin ánimos de lucro y con un propósito informativo.
                </p>
                <p>
                <div class="h5">
                    Contribuciones al Portal del Gobierno de La Habana
                </div>
                Al compartir cualquier contribución (incluyendo cualquier texto, fotografía, gráfico, vídeo o audio) con el portal del Gobierno de La Habana usted se compromete a otorgar a este sitio, libre de cargo, el permiso para utilizar el material de cualquier modo que se considere conveniente (incluyendo la modificación, adaptación y traducción de su contribución por razones operativas o editoriales), en todos los casos y siempre que usted esté de acuerdo se mostrará su nombre como autor de la contribución.
                </p>
                <p>
                    Este sitio no tendrá obligación de publicar o traducir las contribuciones recibidas.
                </p>
                <div class="h5">
                    Enlaces al contenido publicado por el Portal del Gobierno de La Habana
                </div>
                <p>
                    El Portal del Gobierno de La Habana autoriza a terceros incluir en sus sitios web acceso a la información publicada por el “equipo del portal” utilizando enlaces para ello.
                </p>
                <div class="h5">
                    Enlaces a páginas web de terceros
                </div>
                <p>
                    El Portal del Gobierno de La Habana puede contener vínculos a sitios web que son controlados y mantenidos por terceros. Se hace el mayor esfuerzo para que los vínculos publicados estén disponibles pero no se hace responsable por el contenido ni por la disponibilidad de esa información.
                </p>
                <div class="h5">
                    Comentarios
                </div>
                <p>
                    El Portal del Gobierno de La Habana se reserva el derecho de habilitar el mecanismo de comentarios para algunos de los artículos o contenidos publicados. Los comentarios son la opinión del usuario, no es necesariamente la posición u opinión del “equipo del Portal”. Al insertarlos entran en cola de moderación y debe ser publicado en breve período de tiempo. En cualquier caso se reserva el derecho de publicarlos, eliminando aquellos que estén fuera de tema o utilicen términos groseros, violentos, racistas, contengan ofensas o sean contrarios a las leyes.
                </p>
                <div class="h5">
                    Notificaciones al “Equipo del Portal”
                </div>
                <p>
                    En los casos que usted detecte irregularidades, violaciones de estos términos y condiciones o quiera aclarar alguna duda en relación a nuestros servicios puede escribirnos a la cuenta de correo webmaster@lahabana.gob.cu o contactarnos en: Empresa Provincial de Servicios Informáticos del Consejo de la Administración Provincial de La Habana. infocap@infocap.cu
                </p>
                <p>
                    Equipo del Portal del Gobierno de La Habana, 26 de mayo de 2021
                </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal politica -->
<div class="modal fade" id="politicaModal" tabindex="-1" role="dialog" aria-labelledby="politicaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tpoliticaModalLabel">Política de Privacidad</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Esta Política de Privacidad establece que en el Portal Del Gobierno de La Habana se protege y usa la información que es proporcionada por sus usuarios al momento de utilizar su sitio web. El “Equipo del portal” está comprometido con la seguridad de los datos de sus usuarios. Esta Política de Privacidad puede ser actualizada por lo que le recomendamos y enfatizamos revisar continuamente esta página para asegurarse que está de acuerdo con dichos cambios.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
{#<footer class="footer">#}
    {#<div class="container-fluid">#}

        {#<div class="row">#}
            {#<div class="col text-center p-3">#}
                {#<img src="{{ asset('templates_assets/frontend/img/gobierno.svg') }}" height="65px" width="193px">#}
            {#</div>#}
        {#</div>#}
        {#<div class="row footer__bandaazul p-2">#}
            {#<div class="footer__item small"><a href="tel:+5378682507"><img  src="{{ asset('templates_assets/frontend/img/telefono.svg') }}" height="20px" width="15px"> (537) 868-2507</a></div>#}
            {#<div class="footer__item small"><a href="mailto:info@goblh.gob.cu"><img src="{{ asset('templates_assets/frontend/img/correo.svg') }}" height="20px" width="30px"> info@goblh.gob.cu</a></div>#}
            {#<div class="footer__item small"><img src="{{ asset('templates_assets/frontend/img/ubicacion.svg') }}" height="20px" width="15px"> Ave de las Misiones # 25 esq.a Peña Pobre La Habanaa</div>#}
        {#</div>#}
        {#<div class="row p-2 copy">#}
            {#<div class="col text-center small">#}
                {#2020 © Desarrollado por infocap.#}
            {#</div>#}
        {#</div>#}

    {#</div>#}

{#</footer>#}