{% extends 'base.html.twig' %}

{% block body %}
    <!-- ======= Top Bar ======= -->
    <div id="topbar" class="d-none d-lg-flex align-items-center fixed-top topbar-inner-pages">

        <div class="container d-flex align-items-center">
            <div class="contact-info mr-auto">
                <ul>
                    {#<li><i class="icofont-google-map"></i><a href="mailto:contact@example.com">contact@example.com</a></li>#}
                    <li><i class="icofont-envelope"></i>C/Constantino, 12, 35002 Las Palmas de G.C.</li>
                    <li><i class="icofont-phone"></i> 928 367 976</li>
                    <li><i class="icofont-clock-time icofont-flip-horizontal"></i> Lun-Vie 9:00 a 20:00 / Sab 9:00 a 13:00</li>
                </ul>
            </div>
            {#<div class="cta">#}
            {#<a href="#header" class="scrollto">Comenzar</a>#}
            {#</div>#}
        </div>
    </div>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top header-inner-pages">

        <div class="container d-flex align-items-center">
            <a href="#header" class="mr-auto scrollto"><img src="{{ asset('templates_assets/img/logotriana.png') }}" alt="" class="img-fluid" width="100px"></a>
            {#<h1 class="logo mr-auto"><a href="#header" class="scrollto">El Gordo <br>de Triana</a></h1>#}
            <!-- Uncomment below if you prefer to use an image logo -->


            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="active"><a href="{{ path('homepage') }}#header">Inicio</a></li>
                    <li><a href="{{ path('homepage') }}#team">Botes</a></li>
                    <li><a href="{{ path('homepage') }}#why-us">Sobre Nosotros</a></li>
                    <li><a href="{{ path('homepage') }}#services">Resultados</a></li>
                    <li><a href="{{ path('homepage') }}">Blog</a></li>
                    <li><a href="{{ path('homepage') }}#contact">Contactos</a></li>
                </ul>
            </nav><!-- .nav-menu -->

        </div>
    </header><!-- End Header -->
<br>
<br>
<br>
<br>
{% set p='templates_assets/img/logos/' %}
<section id="faq" class="faq section-bg">
    <div class="container">
    <div class="row">
        <div class="col-md-10 col-12 float-left">
        {% if results[0].juego.getFechaBote != null %}
            <p class="tituloresult"> Bote de {{ results[0].juego.getBote }},
             {{ results[0].juego.getFechaBote | date('d/m/y')}}</p>
            {% endif %}
        </div>
        <div class="col-md-2 col-12">
       <a class="text-center btn btn-lg btn-outline-success" href="{{ results[0].juego.getUrlJuego }}"
                                      target="_blank"> Jugar</a></span>
        </div>
    </div>
    </div>
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Resultados {{ results[0].juego.name }}</h2>
        </div>
        <div class="faq-list">
            {% set p='templates_assets/img/logos/' %}
            <ul>
                {% set c=0 %}
                {% for a in results %}
                    {% set c=c+1 %}

                    <li data-aos="fade-up" data-aos="fade-up" data-aos-delay="{{ 100*c }}">
                        <div class="row p-0">
                            <div class="col-md-2 p-0  text-center">
                                <span class="tituloresult">{{ a.juego.name }}</span><br>
                                <i><img src="{{ asset(p~a.getJuego().getJuegoFile().first().filename) }}"
                                        width='40px'/></i>

                            </div>
                            <div class="col-md-1 text-center">
                               {% if a.juego.name in ['La Quiniela','El Quinigol'] %}
                                <span class="textoverde">{{ a.fecha|date_modify("-1 day")| date('d/m/y') }}</span>
                                   {% else %}
                                       <span class="textoverde">{{ a.fecha | date('d/m/y') }}</span>
                                {% endif %}
                            </div>

                            {% if  a.combinaciones is not null and a.juego.name not in ['Lotería Nacional','La Quiniela','El Quinigol'] %}
                                <div class="col-md-3 text-center">
                                    <span class="textoverde">{{ 'Combinaciones' }}</span><br>
                                    <span class="combinaciones1">{{ a.combinaciones | replace({',':' '}) }}</span>
                                </div>
                            {% endif %}
                            {% if  a.combinaciones is not null and a.juego.name=='El Quinigol' %}
                                <div class="col-md-6 text-center">
                                    <span class="textoverde"> {{ 'Combinaciones' }}</span><br>
                                    <span class="combinaciones1 mr-1">{{ a.combinaciones | replace({',':' '}) }}</span>
                                </div>
                            {% endif %}


                            {% if  a.combinaciones is not null and a.juego.name=='Lotería Nacional' %}

                                {% set num_pre=['1er','2do','3er'] %}
                                {% set i=-1 %}
                                {% for b in (a.combinaciones | split(',')) %}
                                    {% set i=i+1 %}
                                    <div class="col-md-1 text-center">
                                        <span class="textoverde">{{ num_pre[i] }}</span><br>
                                        <span class="combinaciones1">{{ b }}</span>
                                    </div>
                                {% endfor %}

                            {% endif %}

                            {% if  a.combinaciones is not null and a.juego.name=='La Quiniela' %}
                                <div class="col-md-6 text-center">
                                    <span class="textoverde">{{ 'Combinaciones' }}</span><br>
                                    {% set s = a.combinaciones | split(',') %}
                                    <span class="combinaciones1 mr-1">{{ (s|slice(0,(s|length)-1))|join(' ') }}</span>

                                    <span class="ml-3 combinaciones1">
                                {{ s[(s|length)-1] }}
                                      </span>
                                </div>
                            {% endif %}

                            {% if  a.estrellas is not null %}
                                <div class="col-md-2 text-center">
                                    <span class="textoverde">{{ 'Estrellas' }}</span><br>
                                    {% set star=a.estrellas | split(',') %}
                                    <span class="estrella">{{ star[0] }}</span>
                                    <span class="estrella">{{ star[1] }}</span>

                                </div>
                            {% endif %}


                            {% if  a.reintegros is not null %}
                                <div class="col-md-1 text-center">
                                    <span class="textoverde">{{ (',' in a.reintegros )?'Reintegros':'Reintegro' }}</span><br>
                                    <span class="combinaciones1">{{ a.reintegros | replace({',':' '}) }}</span>
                                </div>
                            {% endif %}


                            {% if  a.complementos is not null %}
                                <div class="col-md-2 text-center">
                                    <span class="textoverde">{{ 'Complemento' }}</span><br>
                                    <span class="combinaciones1">{{ a.complementos | replace({',':' '}) }}</span>
                                </div>
                            {% endif %}


                            {% if  a.clave is not null %}
                                <div class="col-md-1 text-center">
                                    <span class="textoverde">{{ 'No.Clave' }}</span><br>
                                    <span class="combinaciones1">{{ a.clave | replace({',':' '}) }}</span>
                                </div>
                            {% endif %}


                            {% if  a.getFraccionSerie is not null %}
                                <div class="col-md-1 text-center">
                                    {#{{ 'fraccion_serie :' }}#}
                                    {#{{ a.getFraccionSerie | replace({',':' '}) }}#}
                                    {% set fs=a.getFraccionSerie | split(',') %}
                                    <span class="textoverde">{{ 'F y S' }}</span><br>
                                    <span class="combinaciones1">{{ fs[0] }},
                                        {{ fs[1] }}</span>
                                </div>
                            {% endif %}



                            {% if a.getMillonJoker is not null %}
                                <div class="col-md-2 text-center">
                                    <span class="textoverde">{{ (a.juego.name=='Euromillones'?'El millón':'Joker') }}</span><br>
                                    <span class="combinaciones1">{{ a.juego.name=='Euromillones'?a.getMillonJoker:(a.getMillonJoker|slice(2,7)) }}</span>
                                </div>
                            {% endif %}


                            {% if a.bote is not null %}
                                <div class="col-auto">
                                    {{ 'bote :'~a.bote }}
                                </div>
                            {% endif %}
                            {% if a.caballo is not null %}
                                <div class="col-md-1 text-center"><span class="textoverde">{{ 'Caballo' }}</span><br>
                                <span class="combinaciones1"> {{ a.caballo }}</span>
                                </div>{% endif %}

                            <div class="col">
                                <table class="float-right">
                                    {#<tr>#}
                                        {#<td>#}
                                            {#<a class="btn btn-sm-outline-success boton  text-center" href="{{ path('juego_detalles', {'id':a.juego.id, 'slug':a.juego.slug}) }}">Resultados</a>#}
                                        {#</td>#}
                                    {#</tr>#}
                                    <tr>
                                        <td>
                                            <a data-toggle="collapse" class="collapse text-center btn btn-sm-outline-success boton" href="#faq-list-{{ c }}">Premios
                                                <i class="fa fa-angle-down"></i>
                                                {# <i class="bx bx-chevron-down icon-show"></i> <i#}
                                                {#class="bx bx-chevron-up icon-close"></i>  #}
                                            </a>
                                        </td>

                                    </tr>

                                </table>




                            </div>
                        </div>


                        <div id="faq-list-{{ c }}" class="collapse" data-parent=".faq-list">

                            <div class="row mt-4">
                                <div class="col-md-12">
                                    {% if  a.getCategoria is not null and a.getPremio is not null %}
                                        {% set cat=(a.getCategoria | split(',')) %}
                                        {% set prem=(a.getPremio | split(';')) %}
                                        <table class="table table-bordered">

                                            <tr class="text-center textoverde">
                                                <td>Categorias</td>
                                                <td>Premios</td>
                                            </tr>
                                            {% for i in 0..((cat|length)-1) %}
                                                <tr class="text-center">

                                                    <td class="combinaciones">
                                                        {{ cat[i] }}
                                                    </td>
                                                    <td class="combinaciones">
                                                        {{ prem[i] }} €
                                                    </td>

                                                </tr>

                                            {% endfor %}

                                        </table>
                                    {% endif %}
                                </div>

                                <div class="col-md-12">
                                    {% if  a.getCategoriaJoker is not null and a.getPremioJoker is not null %}
                                        {% set cat=(a.getCategoriaJoker | split(',')) %}
                                        {% set prem=(a.getPremioJoker | split(';')) %}
                                        <table class="table table-bordered">

                                            <tr class="text-center textoverde">
                                                <td>Categorias Joker</td>
                                                <td>Premios Joker</td>
                                            </tr>
                                            {% for i in 0..((cat|length)-1) %}
                                                <tr class="text-center">

                                                    <td class="combinaciones">
                                                        {{ cat[i]| replace ({ '&uacute;':'ú'}) }}
                                                    </td>
                                                    <td class="combinaciones">
                                                        {{ prem[i] }} €
                                                    </td>

                                                </tr>

                                            {% endfor %}

                                        </table>
                                    {% endif %}
                                </div>
                            </div>

                        </div>

                    </li>
                {% endfor %}



            </ul>

        </div>


    </div>
</section>
    {#</div>#}
    <!-- ======= Footer ======= -->
    <footer id="footer">
        {% set p='templates_assets/img/logos/' %}
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-links">

                        <ul>
                            {% for i in 0..4 %}
                                <li><i><img src="{{ asset(p~juegos[i].getJuegoFile().first().filename) }}"
                                            width='40px'/></i><h4> <a href="{{ path('juego_detalles', {'id':juegos[i].id, 'slug':juegos[i].slug}) }}">{{ juegos[i].name }}</a></h4></li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">

                        <ul>
                            {% for i in 5..8 %}
                                <li><i><img src="{{ asset(p~juegos[i].getJuegoFile().first().filename) }}"
                                            width='40px'/></i> <h4><a href="{{ path('juego_detalles', {'id':juegos[i].id, 'slug':juegos[i].slug}) }}">{{ juegos[i].name }}</a></h4></li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>Contactos</h4>

                        <div class="address">
                            {#<i class="icofont-google-map"></i>#}
                            {#<h4>Ubicación:</h4>#}
                            <p>C/Constantino, 12, 35002 Las Palmas de G.C.</p>
                        </div>
                        {#<div class="email">#}
                        {##}
                        {#<h4>Email:</h4>#}
                        {#<p><i class="icofont-envelope"></i> rozabaleslibreria@gmail.com</p>#}
                        {#</div>#}

                        <div class="phone">
                            {##}
                            {#<h4>Teléfonos:</h4>#}
                            <p><i class="icofont-phone"></i> 928 367 976</p>
                        </div>


                        <img  src="{{ asset('templates_assets/img/conmigo.png') }}" height="80px">


                    </div>

                    <div class="col-lg-3 col-md-6 footer-info">
                        <h4>Sobre Nosotros</h4>
                        <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita
                            valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>El Gordo de Triana</span></strong>. Todos los Derechos Reservados
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/anyar-free-multipurpose-one-page-bootstrap-theme/ -->
                {#Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>#}
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
    <div id="preloader"></div>
{% endblock %}