{% extends 'front/paginas_internas.html.twig' %}
{% block idiomas %}
    <a class="selectorIdioma__link {{app.request.locale == "es"? 'selectorIdioma__link--actual':''}}" href="{{ path( app.request.attributes.get('_route'), {'_locale':'es', 'id':seccion.id, 'slug':seccion.slug}) }}">ESP</a>
    <a class="selectorIdioma__link {{app.request.locale == "es"? '':'selectorIdioma__link--actual'}}" href="{{ path( app.request.attributes.get('_route'), {'_locale':'en', 'id':seccion.id, 'slug':seccion.slug}) }}">ENG</a>
{% endblock %}
{% block content %}

    <section class="comun-body mi-habana-body">
        <div class="container">
            <div class="row">
                <div class="deTop">
                    {% if seccion.getSectionFiles is defined %}
                        {% if seccion.getSectionFiles is not empty %}
                            {% set img = seccion.getSectionFiles.first() %}
                            {% set ruta = seccion.id~'-'~seccion.getSlug() %}
                            <img src="{{ asset('upload/files/'~ruta~'/'~ img.filename) }}" alt="{{app.request.locale == "es"? seccion.title:seccion.titleEs }}" >
                        {% endif %}
                    {% endif %}
                    <h1>{{ seccion.title }}</h1>
                </div>
            </div>
        </div>
        <div class="container bg-white px-4">
            <div class="camino pt-3 pb-3">
                <a href="{{ path('homepage') }}">{{app.request.locale == "es"? 'Inicio':'Home'}}</a><span class="separador mx-3"></span><a href="#" class="actual">
                    {% if  app.request.locale == "es" %}
                        {{ seccion.title }}
                    {% else %}
                        {{ seccion.titleEs  }}
                        {% if seccion.titleEs is null %}
                            {{ seccion.title}}
                        {% endif %}
                    {% endif %}
                </a>
            </div>
            <div class="row">
                <div class="col-md-8">

                    <div class="principal_pagina_tramites w-100 mb-5">
                        {% if seccion.getSectionFiles is empty and seccion.description is null %}
                            <h1>
                                {% if  app.request.locale == "es" %}
                                    {{ seccion.title }}
                                {% else %}
                                    {{ seccion.titleEs  }}
                                    {% if seccion.titleEs is null %}
                                        {{ seccion.title}}
                                    {% endif %}
                                {% endif %}
                                 </h1>
                        {% else %}
                            <div class="principal_pagina_tramites__flex">
                                {#{% if seccion.getSectionFiles is defined %}#}
                                {#{% if seccion.getSectionFiles is not empty %}#}
                                {#{% set img = seccion.getSectionFiles.first() %}#}
                                {#{% set ruta = seccion.id~'-'~seccion.getSlug() %}#}
                                {#<div class="principal_pagina_tramites__flex-item">#}

                                            {#<img src="{{ asset('upload/files/'~ruta~'/'~ img.filename) }}" alt="{{ seccion.title }}" class="principal_pagina_tramites__img">#}

                                        {#</div>#}
                                    {#{% endif %}#}
                                {#{% endif %}#}
                                {% if seccion.description is not null %}
                                    <div class="principal_pagina_tramites__flex-item principal_pagina_tramites__flex-item--icon-texto bg-light text-dark border">
                                        <div class="p-4">
                                            <div class="d-flex justify-content-center align-items-center mb-2">
                                                {#<h4 class="principal_pagina_tramites__header">{{ categoria.title }} </h4>#}
                                            </div>
                                            <p class="principal_pagina_tramites__desc text-dark">
                                                {% if  app.request.locale == "es" %}
                                                    {{  seccion.description | raw  }}
                                                {% else %}
                                                    {{  seccion.descriptionEs | raw   }}
                                                    {% if  seccion.descriptionEs is null %}
                                                        {{ seccion.description | raw }}
                                                    {% endif %}
                                                {% endif %}

                                            </p>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>


                    <div class="listaCategoria">

                        {% if seccion.getCategories() is not null %}
                            {% for p in paginator %}
                                {% if p.publish == 1 %}
                                    <div class="itemCategoria">
                                        {% if p.getCategoryFiles is defined %}
                                            {% if p.getCategoryFiles is not empty %}
                                                <div class="itemCategoria__img">

                                                    {% set img = p.getCategoryFiles().first() %}
                                                    {% set ruta = p.id~'-'~p.getSlug() %}
                                                    <img src="{{ asset('upload/files/'~ruta~'/'~ img.filename) }}" alt="p.title"/>


                                                </div>
                                            {% endif %}
                                        {% endif %}
                                        <div class="itemCategoria__redesFecha">
                                            {# <div class="itemCategoria__redes">
                                                 <a href="#" class="facebook-color"><i class="fa fa-facebook"></i></a>
                                                 <a href="#" class="twitter-color"><i class="fa fa-twitter"></i></a>
                                                 <a href="#" class="telegram-color"><i class="fa fa-telegram"></i></a>
                                             </div>#}
                                            {#{% if p.getOptionalDate is not null %}#}
                                                {#<div class="itemCategoria__fecha">#}
                                                    {#<a href="#">#}
                                                        {#{{ p.getOptionalDate | date('d/m/Y') }}#}
                                                    {#</a>#}
                                                {#</div>#}
                                            {#{% endif %}#}
                                        </div>
                                        <div class="itemCategoria__titulo">
                                            <a class="" href="{{ path('category_detalles', {'id':p.id, 'slug':p.slug}) }}">
                                                {% if  app.request.locale == "es" %}
                                                    {{   p.title }}
                                                {% else %}
                                                    {{  p.titleEss | raw   }}
                                                    {% if  p.titleEs is null %}
                                                        {{  p.title }}
                                                    {% endif %}
                                                {% endif %}

                                            </a>
                                        </div>
                                        <div class="itemCategoria__intro">
                                            {% if  app.request.locale == "es" %}
                                                {{   p.description | raw }}
                                            {% else %}
                                                {{  p.descriptionEs | raw   }}
                                                {% if  p.descriptionEs is null %}
                                                    {{  p.description | raw }}
                                                {% endif %}
                                            {% endif %}

                                        </div>
                                        <div class="itemCategoria__mas">
                                            <a class="text-dark" href="{{ path('category_detalles', {'id':p.id, 'slug':p.slug}) }}">
                                                {{app.request.locale == "es"? 'Leer más':'Read more' }}
                                            </a>
                                        </div>
                                    </div>
                                {% endif %}

                            {% endfor %}
                        {% endif %}

                    </div>
                    <div class="navigation">
                        {{ knp_pagination_render(paginator) }}
                    </div>
                </div>
                {{ render_ssi(controller('App\\Controller\\Front\\FrontController::sidebar', {})) }}
            </div>
        </div>
    </section>

{% endblock %}